@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background: #422626;
}

header img{
width: 40%;
height: 100%;
}

#bg1{
    background: url('img/besedka1.png') no-repeat;
    background-blend-mode: multiply;
    background-color: #6d6c6c;
    background-size: cover;

}
#bg2{
    background: url('img/besedka2.png') no-repeat;
    background-blend-mode: multiply;
    background-color: #6d6c6c;
    background-size: cover;

}
#bg3{
    background: url('img/besedka3.png') no-repeat;
    background-blend-mode: multiply;
    background-color: #6d6c6c;
    background-size: cover;

}
#bg4{
    background: url('img/besedka4.png') no-repeat;
    background-blend-mode: multiply;
    background-color: #6d6c6c;
    background-size: cover;

}
.text h1{
    margin-top: 3%;
    font-family: PT Serif;
    font-size: calc(24px + 16 * (100vw / 1280));
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    }
    
    .text h2{
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: PT Serif;
    font-size: calc(14px + 16 * (100vw / 1280));
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    }

.stripe {
margin-top: 5%;
width: 13%;
height: 5px;
background-color: white;
border-radius: 10px;
display: flex;
justify-content: center;
}
.stripe1 {
    margin-bottom: 1%;
    width: 13%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;

}

.text2 h1{
    margin-top: 10%;
    font-family: PT Serif;
    font-size: calc(24px + 16 * (100vw / 1280));
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
    
.text2 h2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: PT Serif;
    font-size: calc(14px + 16 * (100vw / 1280));
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: white;
} 

.text2 h6{
    font-family: PT Serif;
    font-size: calc(3px + 16 * (100vw / 1280));
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: white;
} 

.button{ 
    background-color: transparent;
    border: 3px solid #fff;
    color: white;
    padding: 25px 52px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: PT Serif;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5%;
}
.button:hover {
    background-color:#fff;
    color: black;
    transition: 0.7s;
}

footer{
    background-color: #422626;
}

footer h1{
    margin-top: 2%;
    font-family: PT Serif;
    font-size: calc(10px + 16 * (100vw / 1280));
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

footer h6{
    margin-top: -5%;
    font-style: italic;
    font-family: PT Serif;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.header-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer img{
    margin-top: -10%;
}