<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="beach.css">
    <title>Пляж</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <img src="img/logo-name.png" alt="">
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container-fluid" id="text" style="margin-top: 3%;">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="img/imgBeach.png" alt="" width="100%" height="80%" style="border-radius: 30px;">
                </div>
                <div class="col-md-6">
                    <p>ПЛЯЖ</p>
                    <div class="stripe"></div>
                    <h4>Посещение пляжа бесплатное, аренда шезлонгов, зонтиков и бунгало за дополнительную плату. За безопасность на берегу отвечают квалифицированные спасатели, есть медицинский пункт.
                        К услугам гостей на пляже: спортплощадка, детская игровая комната, бары, сапборды, экскурсии, курортные товары, бьюти-услуги (плетение косичек/временное тату), SPA-услуги, пуфы в вечернее время, качели, мороженое.
                        В летний период от отеля курсирует бесплатный трансфер на пляж.</h4>
                        <form action="page/new.html" target="_blank" style="margin-left: 20%; margin-top: 5%;">
                            <button class="button">Аренда пляжного оборудования</button>
                           </form>
                </div>
            </div>

                <div class="container-fluid" id="ph">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="img/img1.png" alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="img/img2.png" alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="img/img3.png" alt="">
                        </div>
                    </div>
                </div>
    </main>
</body>
</html>