<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="besedki.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Беседки</title>
</head>
<body>

    
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <img src="img/logo-name.png" alt="">
                </div>
            </div>
        </div>
    </header>


<main>
    <div class="container-fluid" style="margin: 0; padding: 0;" id="bg1">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="stripe"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text">
                        <h1 class="h1">УЮТНЫЕ БЕСЕДКИ</h1>
                        <h2 class="h2">На территории нашей базы можно арендовать беседки. Каждая беседка оборудована мангальной зоной. Для всех гостей бесплатно предоставляем дрова, уголь, жидкость для розжига. В беседке комфортно могут разместиться до десяти человек.</h2>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 d-flex justify-content-center" style="margin-bottom: 5%;">
                    <div><img src="img/strelka.png" alt=""></div>     
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>   
    </div>
    




    <div class="container-fluid" style="margin: 0; padding: 0;" id="bg2">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text2">
                        <h1 class="h1">Crom-Беседка</h1>
                        <h2 class="h2">Чтобы провести отдых в выходные недорого, арендуйте crom-беседку на базе отдыха “Берендей” и получите целый комплекс услуг, которые подарят вам максимум комфорта.</h2>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="stripe1"></div>
        </div>
        <div class="col-md-12">
            <div class="text2">
                <h6>Вместительность: 6 человек</h6>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 3%;">
            <form action="page/new.html" target="_blank">
                <button class="button">Забронировать</button>
               </form>
        </div>
    </div>




    <div class="container-fluid" style="margin: 0; padding: 0;" id="bg3">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text2">
                        <h1 class="h1">Беседка Sum</h1>
                        <h2 class="h2">Чтобы провести отдых в выходные недорого, арендуйте беседку sum на базе отдыха “Берендей” и получите целый комплекс услуг, которые подарят вам максимум комфорта.</h2>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="stripe1"></div>
        </div>
        <div class="col-md-12">
            <div class="text2">
                <h6>Вместительность: 5 человек</h6>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 3%;">
            <form action="page/new.html" target="_blank">
                <button class="button">Забронировать</button>
               </form>
        </div>
    </div>




    <div class="container-fluid" style="margin: 0; padding: 0;" id="bg4">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text2">
                        <h1 class="h1">Беседка Grant</h1>
                        <h2 class="h2">Чтобы провести отдых в выходные недорого, арендуйте беседку Grant на базе отдыха “Берендей” и получите целый комплекс услуг, которые подарят вам максимум комфорта.</h2>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <div class="stripe1"></div>
        </div>
        <div class="col-md-12">
            <div class="text2">
                <h6>Вместительность: 8 человек</h6>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 3%;">
            <form action="page/new.html" target="_blank">
                <button class="button">Забронировать</button>
               </form>
        </div>
    </div>
</main>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <h1>Берендей</h1>
            </div>
            <div class="col-md-3">
                <h1>Связаться с нами</h1>
            </div>
            <div class="col-md-3">
                <h1>Мы находимся</h1>
            </div>
            <div class="header-line">
                <div class="col-md-1""></div>
            <div class="col-md-3"><a href="#">
                <img src="/img/logo_vk.png" alt="">
              </a>
              <a href="#">
                <img src="/img/logo_facebook.png" alt="">
              </a>
              <a href="#">
                <img src="/img/logo_inst.png" alt="">
              </a></div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <h6>2023 База отдыха "Берендей"</h6>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <h6>+7 (3532) 67-71-15 &nbsp; &nbsp; &nbsp; berendey56@mail.ru</h6>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <h6>Оренбург, Дубки, 20</h6>
            </div>
        </div>
    </div>
</footer>
</body>
</html>