<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <script></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">

            <div class="header-line">
                <div class="col-md-1"></div>
                <div class="col-md-3"><a href="#">
                    <img src="resources/imgs/logo_vk.png" alt="">
                </a>
                    <a href="#">
                        <img src="resources/imgs/logo_facebook.png" alt="">
                    </a>
                    <a href="#">
                        <img src="resources/imgs/logo_inst.png" alt="">
                    </a></div>
                <div class="col-md-4">
                    <img src="resources/imgs/logo-name.png" alt="" width="79%" height="79%">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="weather">
                        <p>ПОГОДА СЕГОДНЯ:</p>
                        <p>подвязка бэк </p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text">
                    <h1 class="h1">База отдыха  расположена в живописном месте, на берегу реки Урал в городе Оренбург.</h1>
                    <h2 class="h2">Это популярное место для отдыха и развлечений как для местных жителей, так и для туристов.</h2>
                </div>
            </div>

            <form action="page/new.html" target="_blank">
                <button style="margin-top: 5%; margin-left: 10%;" class="button">Узнать подробнее</button>
            </form>
        </div>
    </div>
</main>
<article>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="stripe"></div>
            </div>
            <div class="d-flex justify-content-center">
                <h1>
                    К Вашим услугам
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/house.png" alt=""></div>
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/game.png" alt=""></div>
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/beach.png" alt=""></div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center"><p>Уютные домики <br> <button class="btn-1">Подробнее</button></p></div>
            <div class="col-md-4 d-flex justify-content-center"><p>Развлевчения <br> <button class="btn-1">Подробнее</button></p></div>
            <div class="col-md-4 d-flex justify-content-center"><p>Шикарный пляж <br> <button class="btn-1">Подробнее</button></p><div>
            </div>

                <div class="row">
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center"><img src="resources/imgs/map.png" alt=""></div>
                    <div class="col-md-3 d-flex justify-content-center"><img src="resources/imgs/besedka.png" alt=""></div>
                    <div class="col-md-3 d-flex justify-content-center"><img src="resources/imgs/banya.png" alt=""></div>
                    <div class="col-md-3 d-flex justify-content-center"><img src="resources/imgs/galary.png" alt=""></div>
                </div>
                <div class="text-inf">
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center"><p>Как нас найти? <br> <button class="btn-1">Подробнее</button></p></div>
                        <div class="col-md-3 d-flex justify-content-center"><p>Беседки <br> <button class="btn-1">Подробнее</button></p></div>
                        <div class="col-md-3 d-flex justify-content-center"><p>Русские бани <br> <button class="btn-1">Подробнее</button></p></div>
                        <div class="col-md-3 d-flex justify-content-center"><p>Галерея <br> <button class="btn-1">Подробнее</button></p></div>
                    </div>
                </div>
            </div>
</article>

<section>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="stripe"></div>
            </div>
            <div class="d-flex justify-content-center">
                <h1>
                    Правила и условия <br> проживания
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/watch.png" alt=""></div>
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/passport.png" alt=""></div>
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/home.png" alt=""></div>
        </div>
        <div class="text-info-second">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center"><h4><b>Время заезда/выезда</b> <br> Заезд с 12:00 <br> Выезд до 13:00 </h4></div>
                <div class="col-md-4 d-flex justify-content-center"><h4><b>Документы при заселении</b> <br>Для регистрации гостям <br> РФ понадобится: паспорт <br> гражданина РФ</h4></div>
                <div class="col-md-4 d-flex justify-content-center"><h4><b>Заселение</b> <br>При население надо пройти <br> на рецепшен. Администратор <br> зарегистрирует всех гостей </h4></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/parking.png" alt=""></div>
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/trash-can.png" alt=""></div>
            <div class="col-md-4 d-flex justify-content-center"><img src="resources/imgs/no-smoking.png" alt=""></div>
        </div>
        <div class="text-info-second">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center"><h4><b>Парковка</b> <br> Парковочные места <br> расположены напротив  <br> домов </h4></div>
                <div class="col-md-4 d-flex justify-content-center"><h4><b>Чистота на территории</b> <br>Оставляйте после себя <br> чистоту. Выбрасывайте мусор <br> в корзины для мусора</h4></div>
                <div class="col-md-4 d-flex justify-content-center"><h4><b>Курение</b> <br>Не курите внутри домов, не <br> разбрасывайте окурки по <br> территории базы </h4></div>
            </div>
        </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ВАШ_API_КЛЮЧ&lang=ru_RU" type="text/javascript"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="map" style="width: 100%; height: 60vh;">
                </div>
            </div>
        </div>
    </div>
    <script>
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [51.74150795220441,55.1366368722249],
                zoom: 13
            });
            var myPlacemark = new ymaps.Placemark([51.741631172639885,55.136596639089674], null, {
                preset: 'islands#blueDotIcon'
            });
            myMap.geoObjects.add(myPlacemark);
        }
    </script>
</section>


<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <h1>Берендей</h1>
            </div>
            <div class="col-md-3">
                <h1>Связаться с нами</h1>
            </div>
            <div class="col-md-3">
                <h1>Мы находимся</h1>
            </div>
            <div class="header-line">
                <div class="col-md-1"></div>
                <div class="col-md-3"><a href="#">
                    <img src="resources/imgs/logo_vk.png" alt="">
                </a>
                    <a href="#">
                        <img src="resources/imgs/logo_facebook.png" alt="">
                    </a>
                    <a href="#">
                        <img src="resources/imgs/logo_inst.png" alt="">
                    </a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <h6>2023 База отдыха "Берендей"</h6>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <h6>+7 (3532) 67-71-15 &nbsp; &nbsp; &nbsp; berendey56@mail.ru</h6>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <h6>Оренбург, Дубки, 20</h6>
            </div>
        </div>
    </div>
</footer>
</body>
</html>