<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lk.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Личный кабинет</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                   <main>
                        <div class="container" id="left">
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center">
                                     <img src="img/imgUser.png" alt="">
                                </div>
                                <div class="col-md-12 d-flex justify-content-center">
                                    <p>Имя Фамилия</p>
                                </div>
                            </div>
                        </div>
                    </main> 
            </div>


            <div class="col-md-6">
                <aside>
                    <div class="container" id="con">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                 <div class="text"><p>Бронь</p></div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="stripe"></div>
                           </div>
                           <div class="col-md-12 d-flex justify-content-center">
                            <div class="text"><h5>Здесь отображаются ваши заявки</h5></div>
                            </div>  
                        </div>
                    </div>
                </aside>
                    <div class="square">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-center">
                                            <div class="square2"></div>
                                        </div>
                                        <div class="col-md-12 d-flex justify-content-center">
                                            <div class="square2"></div>
                                        </div>
                                        <div class="col-md-12 d-flex justify-content-center">
                                            <div class="square2"></div>
                                        </div>
                                    </div>
                                </div>
                               </div>
                            
                
            </div>
        </div>
    </div>

</body>
</html>