<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/registration.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Регистрация</title>
</head>
<body>
    <div class="reg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <p>Регистрация</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center" id="textRight">
                    <p>С возвращением!</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <form th:method="POST" th:action="@{/reg}" th:object="${person}">
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center">
                    <div class="inputWithIcon">
                <input placeholder="имя и фамилия" type="text" size="15" name="name">
                <i><img src="resources/imgs/user.png" alt=""></i>
                 </div>
                </div>
                <div class="col-md-7">
                    <p id="smTextRight">если уже есть аккаунт, то войдите</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center">
                    <div class="inputWithIcon1">
                <input placeholder="почта" type="email" size="15" name="email">
                <i><img src="resources/imgs/email.png" alt=""></i>
                 </div>
                </div>
                <div class="col-md-7 d-flex justify-content-center" style="margin-left: -5%;">
                        <button class="button1" name="regbtn" value="redirect">Перейти</button>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center">
                    <div class="inputWithIcon1">
                <input placeholder="пароль" type="password" size="15" name="password">
                <i><img src="resources/imgs/pswd.png" alt=""></i>
                 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                        <button class="button" name="regbtn" value="reg">Зарегистрироваться</button>
                 </div>
            </div>
            </form>
        </div>
    </div>


    
</body>
</html>