<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/vhod.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Вход</title>
</head>
<body>
    <div class="reg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <p>Войти</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center" id="textRight">
                    <p>Нет аккаунта?</p>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center">
                    <div class="inputWithIcon1">
                <input placeholder="почта" type="email" size="15">
                <i><img src="resources/imgs/email.png" alt=""></i>
                 </div>
                </div>
                <div class="col-md-7 d-flex justify-content-center">
                    <form action="page/new.html" target="_blank">
                        <button class="button1">Перейти</button>
                       </form>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center">
                    <div class="inputWithIcon1">
                <input placeholder="пароль" type="password" size="15">
                <i><img src="resources/imgs/pswd.png" alt=""></i>
                 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <form action="page/new.html" target="_blank">
                        <button class="button">войдите</button>
                       </form>
                 </div>
            </div>
        </div>
    </div>
</body>
</html>